<a class="list-item post" href="posts/<%= post.id %>">
    <section class="post-item">
      <h4><%=post.title%></h4>
      <p><%=post.text%></p>
      <small class="post-meta-data">
          Comments: <%=post.comments_counter || "0" %>, Likes: <%=post.likes_counter || "0" %>
      </small>
    </section>

    <div class="action-links-box">
      <%=link_to new_user_post_comment_path(post_id:post.id) do%>
        <button class="create-comment">Create comment </button>
      <%end%>


      <% if can? :destroy, @current_post %>
        <% if @current_post %>
          <%= button_to "Delete post", user_post_path(user_id: @current_post.author.id, post_id: @current_post.id), method: :delete, class: "btn" %>
        <% end %>
      <% end %>

      <%=render partial:'likes/like', locals:{like:@like,post_id:post.id,distination:params[:action]}%>
    </div>

</a>
<%= render partial: 'comment', locals: {comments: post.recent_comments} %>
