<% posts.each do |post| %>
  <a class="list-item post" href="<%= params[:user_id]%>/posts/<%= post.id %>">
    <section class="post-item">
      <h4><%=post.title%></h4>
      <p><%=post.text%></p>
      <small class="post-meta-data">
          Comments: <%=post.comments_counter || "0" %>, Likes: <%=post.likes_counter || "0" %>
      </small>
    </section>
  </a>
<% end %>
